<div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Cadastro de Cupom</h5>
  
 
            <form [formGroup]='form'>
                <div class="form-group">
                    <label>Código:</label>
                    <input type="text" maxlength="256" formControlName="code" placeholder="Informe o código..." class="form-control">
                  </div>
                  <div *ngIf="submitted && f.code.errors">
                    <p *ngIf="f.code.errors.required" class="text-danger small">* Informe o código</p>
                  </div>
              <div class="form-group">
                <label>Descrição:</label>
                <input type="text" maxlength="256" formControlName="description" placeholder="Informe a descrição..." class="form-control">
              </div>
              <div *ngIf="submitted && f.description.errors">
                <p *ngIf="f.description.errors.required" class="text-danger small">* Informe a descrição</p>
              </div>

              <div class="form-group">
                <label>Data inicial:</label>
                <div class="input-group">
                  <input class="form-control" placeholder="dd/mm/yyyy" name="initialDate" formControlName="initialDate"
                    ngbDatepicker #d="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-primary" (click)="d.toggle()" type="button">
                      <i class="fa fa-calendar-alt"></i>
                    </button>
                  </div>
                </div>
              </div>
                <div *ngIf="submitted && f.initialDate.errors">
                  <p *ngIf="f.initialDate.errors.required" class="text-danger small">* Selecione a data inicial do cupom
                  </p>
                </div>

                <div class="form-group">
                  <label>Data final:</label>
                  <div class="input-group">
                    <input class="form-control" placeholder="dd/mm/yyyy" name="finalDate" formControlName="finalDate"
                      ngbDatepicker #dp="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-primary" (click)="dp.toggle()" type="button">
                        <i class="fa fa-calendar-alt"></i>
                      </button>
                    </div>
                  </div>
                </div>
                  <div *ngIf="submitted && f.finalDate.errors">
                    <p *ngIf="f.finalDate.errors.required" class="text-danger small">* Selecione a data final do cupom
                    </p>
                  </div>

              <div class="form-group">
                <label>Quantidade de vezes que o cliente poderá usar o cupom:</label>
                <input currencyMask max="99999999"
                [options]="{ prefix: '', thousands: '', decimal: '', precision: 0, allowNegative: false }"
                maxlength="8" type="text" formControlName="quantity"
                placeholder="Informe a quantidade..." class="form-control">
              </div>
              <div *ngIf="submitted && f.quantity.errors">
                <p *ngIf="f.quantity.errors.required" class="text-danger small">* Informe a quantidade</p>
              </div>

              <div class="form-group">
                <label>Tipo de desconto:</label>
                <select class="form-control" formControlName="type">
                  <option [ngValue]="tipo.value" *ngFor="let tipo of lstTipos">
                    {{tipo.label}}</option>
                </select>
                <div *ngIf="submitted && f.type.errors">
                  <p *ngIf="f.type.errors.required" class="text-danger small">* Seleção de Tipo é
                    obrigatória</p>
                </div>
              </div>

              <div class="form-group">
                  <label>Valor:</label>
                  <input currencyMask max="99999999"
                    [options]="{ prefix: '', thousands: '.', decimal: ',', precision: 2, allowNegative: false }"
                    maxlength="18" type="text" formControlName="value" placeholder="Informe o valor..."
                    class="form-control">
                </div>
                <div *ngIf="submitted && f.value.errors">
                  <p *ngIf="f.value.errors.required" class="text-danger small">* Informe um valor</p>
                </div>
                <div class="form-group">
                  <label>Valor mínimo para aplicar o cupom:</label>
                  <input currencyMask max="99999999"
                    [options]="{ prefix: '', thousands: '.', decimal: ',', precision: 2, allowNegative: false }"
                    maxlength="18" type="text" formControlName="valueMinimum"
                    placeholder="Informe o valor minimo..." class="form-control">
                </div>
                <div *ngIf="submitted && f.valueMinimum.errors">
                  <p *ngIf="f.valueMinimum.errors.required" class="text-danger small">* Informe um valor</p>
                </div>

                <div class="form-group">
                    <label>Para todos os clientes: </label>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" (change)="handleChange($event)" name="general"
                        id="geralYes" value="true" formControlName="general">
                      <label class="form-check-label" for="geralYes">Sim</label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" (change)="handleChange($event)" name="general"
                        id="geralNo" value="false" formControlName="general">
                      <label class="form-check-label" for="geralNo">Não</label>
                    </div>
                  </div>
                  <div *ngIf="submitted && f.general.errors">
                    <p *ngIf="f.general.errors.required" class="text-danger small">* Informe se o cupom estará disponível para todos os clientes.
                    </p>
                  </div>

                  <div class="form-group" *ngIf="isGeral">
                    <label>Cliente:</label>
                    <select class="form-control" formControlName="client">
                      <option [value]="cliente.id" *ngFor="let cliente of lstClientes">{{cliente.name}}</option>
                    </select>
                  </div>
                  <div *ngIf="submitted && f.client.errors">
                    <p *ngIf="f.client.errors.required" class="text-danger small">* Informe o cliente</p>
                  </div>

            </form>
  
  
  
  
            <button class="btn btn-outline-dark text-uppercase" (click)="onSave()">
              <i class="fas fa-save"></i>
              Salvar</button>
            <button type="button" class="btn btn-outline-dark ml-2 text-uppercase" (click)="onCancel()">
              <i class="fa fa-arrow-circle-left"></i> Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>