<div class="container">
  <div class="py-5">
    <div class="col-sm-9 col-md-7 col-lg-7 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Configurações gerais</h5>
          <form [formGroup]='form'>
            <div class="form-group col-md-12">
              <label>Nome:</label>
              <input type="text" formControlName="name" placeholder="Informe o nome..." class="form-control">
              <div *ngIf="submitted && f.name.errors">
                <p *ngIf="f.name.errors.required" class="text-danger small">* Informe o nome</p>
              </div>
            </div>

            <div class="form-group col-md-12">
              <label>CNPJ:</label>
              <input type="text" formControlName="cnpj" placeholder="Informe o CNPJ..." class="form-control"
                mask="00.000.000/0000-00">
              <div *ngIf="submitted && f.cnpj.errors">
                <p class="text-danger small" *ngIf="f.cnpj.errors.required">* Informe o CNPJ</p>
              </div>
            </div>

            <div class="form-group col-md-12">
              <label>Nome do Contato:</label>
              <input type="text" formControlName="contact" placeholder="Informe o nome do contato..."
                class="form-control">
              <div *ngIf="submitted && f.contact.errors">
                <p *ngIf="f.contact.errors.required" class="text-danger small">* Informe o nome do contato</p>
              </div>
            </div>

            <div class="form-group col-md-12">
              <label>Telefone de contato:</label>
              <input type="text" formControlName="phone" placeholder="Informe o telefone de contato..."
                class="form-control" mask="(00)00000-0000">
              <div *ngIf="submitted && f.phone.errors">
                <p *ngIf="f.phone.errors.required" class="text-danger small">* Informe o telefone de contato</p>
              </div>
            </div>

            <div class="form-group col-md-12">
              <label>Valor mínimo para compra:</label>
              <input currencyMask max="99999999"
                [options]="{ prefix: '', thousands: '.', decimal: ',', precision: 2, allowNegative: false }"
                maxlength="18" type="text" formControlName="valueMinimum"
                placeholder="Informe o valor mínimo de compra..." class="form-control">
              <div *ngIf="submitted && f.valueMinimum.errors">
                <p *ngIf="f.valueMinimum.errors.required" class="text-danger small">* Informe o valor mínimo de compra
                </p>
              </div>
            </div>

            <div class="form-group col-md-12">
              <label>Valor mínimo para frete grátis:</label>
              <input currencyMask max="99999999"
                [options]="{ prefix: '', thousands: '.', decimal: ',', precision: 2, allowNegative: false }"
                maxlength="18" type="text" formControlName="freeShipping"
                placeholder="Informe o valor para frete grátis..." class="form-control">
            </div>

            <div class="form-group col-md-12">
              <label>Quantidade para parcelamento de cartão:</label>
              <input currencyMask max="99999999"
                [options]="{ prefix: '', thousands: '', decimal: '', precision: 0, allowNegative: false }"
                maxlength="18" type="text" formControlName="numberInstallmentsCard"
                placeholder="Informe a quantidade..." class="form-control">
              <div *ngIf="submitted && f.numberInstallmentsCard.errors">
                <p *ngIf="f.numberInstallmentsCard.errors.required" class="text-danger small">* Informe a quantidade
                </p>
              </div>
            </div>

            <div class="form-group md-12">
              <label>Chave Pix:</label>
              <input type="text" maxlength="256" formControlName="keyPix" placeholder="Informe a chave Pix..."
                class="form-control">
            </div>
            <div class="form-group md-12">
              <label>% Desconto Pix:</label>
              <input currencyMask max="99999999"
                [options]="{ prefix: '', thousands: '.', decimal: ',', precision: 2, allowNegative: false }"
                maxlength="18" type="text" formControlName="offPix"
                placeholder="Informe o percentual do desconto PIX" class="form-control">
            </div>

            <div class="form-group col-md-12">
              <label>Quem somos:</label>
              <angular-editor [config]="configEditor" formControlName="description"></angular-editor>
              <div *ngIf="submitted && f.description.errors">
                <p *ngIf="f.description.errors.required" class="text-danger small">* Informe a descrição</p>
              </div>
            </div>


            <div class="form-group col-md-12">
              <label>Política de troca:</label>
              <angular-editor [config]="configEditor" formControlName="exchangePolicy"></angular-editor>
            </div>

            <div class="form-group col-md-12">
              <label>Política de entrega:</label>
                <angular-editor [config]="configEditor" formControlName="deliveryPolicy"></angular-editor>
            </div>

            <div class="form-group col-lg-12">
              <label>Termos de garantia:</label>
              <angular-editor [config]="configEditor" formControlName="warranty"></angular-editor>
            </div>

            <hr>
            <h5>Endereço do Centro de distribuição</h5>

            <div class="form-group col-md-12">
              <label>Cep:</label>
                <input type="text" mask="00000-000" maxlength="9" formControlName="postalCode" placeholder="Informe o CEP..."
                  class="form-control">
              <div *ngIf="submitted && f.postalCode.errors">
                <p *ngIf="f.postalCode.errors.required" class="text-danger small">* Informe o CEP</p>
              </div>
            </div>
            <div class="form-group col-md-12">
              <label>Rua:</label>
              <input type="text" maxlength="500" formControlName="street" placeholder="Informe o logradouro..."
                class="form-control">
              <div *ngIf="submitted && f.street.errors">
                <p *ngIf="f.street.errors.required" class="text-danger small">* Informe o logradouro</p>
              </div>
            </div>

            <div class="form-group col-md-12">
              <label>Número:</label>
              <input type="text" maxlength="255" formControlName="number" placeholder="Informe o numero..."
                class="form-control">
              <div *ngIf="submitted && f.number.errors">
                <p *ngIf="f.number.errors.required" class="text-danger small">* Informe o número</p>
              </div>
            </div>

            <div class="form-group col-md-12">
              <label>Bairro:</label>
              <input type="text" maxlength="255" formControlName="district" placeholder="Informe o bairro..."
                class="form-control">
              <div *ngIf="submitted && f.district.errors">
                <p *ngIf="f.district.errors.required" class="text-danger small">* Informe o bairro</p>
              </div>
            </div>

            <div class="form-group col-md-12">
              <label>Cidade:</label>
              <input type="text" maxlength="255" formControlName="city" placeholder="Informe a Cidade..."
                class="form-control">
              <div *ngIf="submitted && f.city.errors">
                <p *ngIf="f.city.errors.required" class="text-danger small">* Informe a Cidade</p>
              </div>
            </div>

          </form>
          <div class="form-group col-md-12">
            <button type="button" class="btn btn-rounded btn-primary" (click)="onSubmit()">
              <i class="fa fa-save"></i>
            </button>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>