<div class="container py-3">

    <div class="card text-white bg-dark">
        <div class="card-body">
            <h5 class="card-title text-center">Encomenda on-line</h5>
            <div class="row">
                <div class="col-4">
                    <img class="img-thumbnail" src={{getImage(boardModel.imageName)}} alt="Board model" width="250px">
                </div>
                <div class="col-8">
                    <div class="row py-2">
                        <h5>Modelo: </h5>
                        <h5 class="text-muted ml-2">{{ boardModel.name }}</h5>
                    </div>
                    <div class="row py-2">
                        <h6>Valor inicial do modelo: </h6>
                        <h6 class="text-muted ml-2">{{ boardModel.value | currency:'R$'}}</h6>
                    </div>
                    <!-- <div class="row py-2">
                        <h6>Valor final da encomenda: </h6>
                        <h6 class="text-muted ml-2">{{ finalValue | currency:'R$'}}</h6>
                    </div> -->
                    <div class="row py-2">
                        <h6>Produção em média de <span class="text-muted">{{ boardModel.daysProduction }}</span> dias
                        </h6>
                    </div>
                    <form [formGroup]="formAdd">
                        <div class="row py-2">
                            <div class="col-6">
                                <label>Dimensões:</label>
                                <select class="form-control" formControlName="paint">
                                    <option [ngValue]="dimension" *ngFor="let dimension of boardModel.boardModelDimensions">
                                        {{dimension.description}} </option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <!-- <hr class="text-white"> -->
                </div>
            </div>
            <div class="row py-3">
                <div class="col-12">
                    <button type="button" class="btn btn-rounded btn-outline-primary text-uppercase"
                        (click)="onConfirm()">
                        <i class="fa fa-check"></i> Confirmar
                    </button>
                    <button type="button" class="btn btn-rounded btn-outline-danger text-uppercase ml-2"
                        (click)="onCancel()">
                        <i class="fas fa-arrow-circle-left"></i> Trocar modelo
                    </button>
                </div>

            </div>
        </div>
    </div>

</div>


<ng-template #modalOrder>
    <div class="inmodal bg-dark" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-header">
            <h3 class="modal-title text-white">Encomenda adicionada ao carrinho</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12 col-lg-12 text-white">
                    Deseja ir para o carrinho ou continuar comprando?
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-rounded btn-primary" (click)="onConfirmOrder()">
                <i class="fa fa-check"></i> Ir para o carrinho
            </button>

            <button type="button" class="btn btn-rounded btn-danger" (click)="onKeepBuying()">
                <i class="fas fa-arrow-circle-left"></i> Continuar comprando
            </button>
        </div>

    </div>
</ng-template>